:root {
  --light:rgb(255, 255, 255) ; 
  --dark: rgb(0, 0, 0);
  --title-color: rgb(255, 255, 255);
  --text-color: rgb(255, 255, 255) ;
  --title-font:'Poppins', sans-serif;
  --text-font: 'Poppins', sans-serif;;
  --title-font-size: ; 
  --text-font-size: ;
}
.navbar_mt {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    min-height: 75px;
    background-color: var(--dark);
    color: var(--light);
}

.navbar_link_mt {
    padding: 0 0.3rem;
    color: inherit;
    display: block;
    padding: 1.5rem;
    font-size: 6vw;
}

.navbar_links_mt {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    right: -100vw;
    bottom: 0;
    height: 100vh;
    padding: 2rem;
    background-color: var(--dark);
    align-items: center;
    visibility: hidden;
}
.show_nav_mt .navbar_links_mt {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    right: 0;
    visibility: visible;
}
.navbar_item_mt:after {
    content:"";
    display: block;
    margin:0 auto;
    width: 2vw;
    height: 1px;
    background: var(--light);
}  
.navbar_burger_mt {
    display: block;
    position: fixed;
    top: 2rem;
    right: 4rem;
    
  }
.navbar_burger_mt:hover {
      cursor: pointer;
  }
 
 .burger_bar_mt,
.burger_bar_mt::before,
.burger_bar_mt::after {
    display: block;
    width: 40px;
    height: 3px;
    position: inherit;
    border-radius: 3px;
    background: var(--light);
    transition: all .5s ease-in-out;
  }
  
.burger_bar_mt::before,
.burger_bar_mt::after {
    content: "";
    position: absolute;
    left: 0;
  }
  
.burger_bar_mt::before {
    transform: translateY(-12px);
  }
  
.burger_bar_mt::after {
    transform: translateY(12px)
  }
.show_nav_mt  .burger_bar_mt {
      width: 0;
      background: transparent;
  }
.show_nav_mt  .burger_bar_mt::before {
      transform: rotate(40deg);

  }
.show_nav_mt  .burger_bar_mt::after {
    transform: rotate(-40deg);
}