:root {
  --light: rgb(255, 255, 255);
  --dark: rgb(0, 0, 0);
  --title-color: rgb(255, 255, 255);
  --text-color: rgb(255, 255, 255);
  --title-font: "Poppins", sans-serif;
  --text-font: "Poppins", sans-serif;
  --title-font-size: ;
  --text-font-size: ;
}

.contact_qb {
  justify-content: center;
  display: flex;
  height: 40rem;
  min-height: 100vh;
}

.form_qb {
  margin-top: 10rem;
  background-color: lightgray;
  width: 25rem;
  height: 32rem;
  text-align: center;
  border-radius: 20px;
  justify-content: center;
}

.form_qb > h1 {
  border-radius: 20px;
  text-align: center;
}

.form_qb * {
  background-color: lightgray;
}

.label_qb {
  color: var(--dark);
  display: block;
  margin-block-start: 1em;
}

.input_qb {
  background-color: white;
  margin-block-start: 1em;
  text-align: center;
  height: 1.8rem;
  width: 90%;
  border-radius: 8px;
}

.textaera_qb {
  background-color: white;
  margin-block-start: 1em;
  width: 90%;
  border-radius: 8px;
}

.button_qb {
  background-color: white;
  margin-top: 1rem;
  font-size: large;
  width: 5.5rem;
  height: 2.5rem;
  border-radius: 15px;
}
