:root {
  --light: rgba(255, 255, 255, 0.872);
  --dark: rgb(0, 0, 0);
  --alt-color: blueviolet;
  --title-color: rgb(255, 255, 255);
  --text-color: rgb(255, 255, 255);
  --title-font: "Poppins", sans-serif;
  --text-font: "Poppins", sans-serif;
  --title-font-size: ;
  --text-font-size: ;
}

.engagement_main_tg {
  padding: 5rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.engagement_h1_tg {
  margin-top: 7rem;
}

.actions_main_tg {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 2s ease-in-out;
  width: 100%;
}

.actions_new_main_tg {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 2s ease-in-out;
  width: 100%;
}

.actions_container_tg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.actions_engagementType_tg {
  background-color: var(--light);
  color: var(--dark);
  text-align: center;
  padding: 0.7rem 0.7rem 0;
  border-radius: 0.8rem 0.8rem 0 0;
  width: 93%;
  font-size: 1rem;
  margin-bottom: 0;
}

.actions_bouton_tg {
  border: 0;
  background-color: var(--light);
  border: solid white 1px;
  color: var(--dark);
  padding: 0.7rem;
  width: 93%;
  font-size: 0.65rem;
  transition: ease-out 2s;
}

.actions_new_bouton_tg {
  border: 0;
  background-color: var(--light);
  border: solid white 1px;
  color: var(--dark);
  padding: 0.7rem;
  width: 93%;
  font-size: 0.65rem;
  transition: ease-out 2s;
}

.actions_container_tg span {
  font-size: 1.5rem;
  text-align: center;
  background-color: inherit;
}

.actions_engagementExplanation_tg {
  background-color: grey;
  border: solid white 1px;
  padding: 0.7rem;
  width: 93%;
  border-radius: 0 0 0.8rem 0.8rem;
}

.filter_main_tg * {
  background-color: var(--light);
  color: var(--dark);
}

.actions_engagement_like_button_tg {
  width: 20px;
  background-color: white;
}

.actions_div_tg {
  background-color: white;
}

@media screen and (min-width: 768px) {
  .actions_main_tg {
    display: flex;
    width: 30%;
  }

  .actions_new_main_tg {
    display: flex;
    width: 30%;
  }
}
