:root {
  --light: rgba(255, 255, 255, 0.872);
  --dark: rgb(0, 0, 0);
  --alt-color : blueviolet;
  --title-color: rgb(255, 255, 255);
  --text-color: rgb(255, 255, 255);
  --title-font: "Poppins", sans-serif;
  --text-font: "Poppins", sans-serif;
  --title-font-size: ;
  --text-font-size: ;
}

.engagement_main_tg {
  padding: 5rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions_main_tg{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.actions_new_main_tg{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 2s ease-in-out;
}


.actions_container_tg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.actions_engagementType_tg {
  background-color: var(--light);
  color: var(--dark);
  padding: 0.7rem;
  border-radius: 0.8rem 0 0 0;
  width: 68%;
  height: 5rem;
  font-size: 1rem;
  margin-bottom: 0;

}

.actions_bouton_tg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 0;
  background-color: var(--dark);
  border: solid white 1px;
  color: var(--light) ;
  padding: 0.7rem;
  border-radius: 0 0.8rem 0rem 0;
  width: 25%;
  height: 5rem;
  font-size: 0.65rem;
  transition: ease-out 1s;
}

.actions_new_bouton_tg {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  border:0;
  background-color: var(--alt-color);
  border: solid white 1px;
  color: var(--light);
  padding: 0.7rem;
  border-radius: 0 0.8rem 0 0;
  width: 25%;
  height: 5rem;
  font-size: 0.65rem;
  transition: ease-out 1s;

}

.actions_container_tg span {
  font-size: 1.5rem;
  text-align: center;
  background-color: inherit;
}

.actions_engagementExplanation_tg {
  background-color: blue;
  border: solid white 1px;
  padding: 0.7rem;
  width: 93%;
  border-radius: 0 0 0.8rem 0.8rem;
}