* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz--osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monacoo, COnsolas, "Courier New",
    monospace;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #3c3c3c;
  border-bottom: 3px solid #56e3b8;
}

header h1 {
  color: #eee;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.faqs {
  width: 100%;
  max-width: 768px;
  margin: 0;
  padding: 25px;
}

.faqs .faq {
  margin: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-question {
  position: relative;
  color: aqua;
  font-size: 20px;
  padding-right: 80px;
  transition: all 0.4s ease;
}

faqs .faq .faq-question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: uril("../assets/planet-faq.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.4s ease-out;
}

.faqs .faq .faq-answer {
  opacity: 0;
  color: chartreuse;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease-out;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
  transform: translateY(-50%) rotate(180deg);
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}
/* 
.contact_qb {
  justify-content: center;
  display: flex;
  height: 40rem;
  min-height: 100vh;
}

.form_qb {
  margin-top: 10rem;
  background-color: lightgray;
  width: 25rem;
  height: 32rem;
  text-align: center;
  border-radius: 20px;
  justify-content: center;
}

.form_qb > h1 {
  border-radius: 20px;
  text-align: center;
}

.form_qb * {
  background-color: lightgray;
}

.label_qb {
  color: var(--dark);
  display: block;
  margin-block-start: 1em;
}

.input_qb {
  background-color: white;
  margin-block-start: 1em;
  text-align: center;
  height: 1.8rem;
  width: 90%;
  border-radius: 8px;
}

.textaera_qb {
  background-color: white;
  margin-block-start: 1em;
  width: 90%;
  border-radius: 8px;
}

.button_qb {
  background-color: white;
  margin-top: 1rem;
  font-size: large;
  width: 5.5rem;
  height: 2.5rem;
  border-radius: 15px;
} */
