/** Variables CSS **/

:root {
  /** Color variables **/
  --light-color: white;
  --dark-color: black;
  --alt-color: blue;

  /** Font Size **/

  --text-size-mobile: 0.5rem;
  --text-size-desk: 1rem;

  --title-size-mobile: 1rem;
  --title-size-desk: 2rem;

  /** Font Family **/

  --text-font: ;
  --title-font: ;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--dark-color);
  color: var(--light-color);
}
