/** Variables CSS **/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
:root {
  --light: rgb(255, 255, 255);
  --dark: rgb(0, 0, 0);
  --title-color: rgb(255, 255, 255);
  --text-color: rgb(255, 255, 255);
  --title-font: "Poppins", sans-serif;
  --text-font: "Poppins", sans-serif;
  --title-font-size: ;
  --text-font-size: ;
}

.home_main_tg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_logo_tg {
  width: 95%;
}

.home_bouton_tg {
  background-color: black;
  border-radius: 3.5rem;
  box-shadow: -5px -5px 30px 5px red;
  font-size: var(--title-font-size);
  font-family: --title-font;
  font-weight: 800;
  margin: 7rem 0;
  padding: 1.2rem 3rem;
  text-align: center;
  color: white;
}

@media screen and (min-width: 600px) {
  .home_logo_tg {
    width: 50%;
  }
}
